we have 4 ways to print a variable or statement in a python.

1st type:
  
  Using  comma(,) we can add one datatype inside the print with other datatype and and also comma will give you the one tab space.

In [1]:
print("hello world")

hello world

In [2]:
a=25
print('my age is',a)

my age is 25

In [6]:
#print multiple variables in print statements
a=25
b=30.12
c='sainath'
print('my age is',a,'my salery is',b,'rupees my name is',c)

my age is 25 my salery is 30.12 rupees my name is sainath

TYPE 2:

  using + operator and it adds only 2 string variables and doesnot add anything like int to string.

  It is used rarely in the realtime

In [14]:
a=27
print('my age is:'+str(a))

my age is:27

In [19]:
#In this we can use only string datatype to add more variables
a=27
b=50.25
c='sainath'
print('my name is '+str(a)+' my salery is:'+str(b)+' rupees my name is '+c)

my name is 27 my salery is:50.25 rupees my name is sainath

TYPE:3

Using Identifiers:

    %d for int variable

    %f for float variable

     %s for string variable

In [25]:
a=12
b=25.5
c='sainath'
print('my age is %d'%a)
print('my salary is %f'%b)
print('my name is %s'%c)

my age is 12
my salary is 25.500000
my name is sainath

In [26]:
#we can also write them in asingle line
a=12
b=25.5
c='sainath'
print('my age is %d my salary is %f my name is %s'%(a,b,c))

my age is 12 my salary is 25.500000 my name is sainath

TYPE 4:
   
   Using { } and f' function.

In [32]:
a=58
print(f'my age is:{a}')

my age is:58

In [31]:
b=525.25
print(f'my salary is:{b}')

my salary is:525.25

In [30]:
c='sainath'
print(f'my name is:{c}')

my name is:sainath

In [34]:
#we can write it in single line also
a=58
b=258.21
c='sainath'
print(f'my age is:{a}, my salary is:{b}, my name is:{c}')

my age is:58, my salary is:258.21, my name is:sainath

In [35]:
#print the below operators by using f function as: my name is sainath and my age is 25
a='name'
b='sainath'
c=25
print(f'my {a} is {b} and my age is {c} ')

my name is sainath and my age is 25